@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@600&family=Zilla+Slab:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.top_nav {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;



    font-family: 'Zilla Slab', serif;

    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 3rem;

}


.logo {
    display: grid;
    align-items: center;
    justify-items: start;

    font-size: 3rem;

    grid-column: 1/2;
}
.logo a {
    color: #2e282a;
    text-decoration: none;
}
.logo a:Hover {
    color: #50C1BF;
    text-decoration: none;
}


.login_btn {
    display: grid;
    align-items: center;
    justify-items: center;

    font-size: 1.5rem;
    
    text-decoration: none;

    grid-column: 14/15;
    grid-row: 1/1;

}
.login_btn button {
    width: 7.5rem;
    height: 2rem;
    border: none;
    border-radius: 0.75rem;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    background-color: rgba(23, 190, 187,1);
}


.carito_btn {
    display: grid;
    align-items: center;
    justify-items: center;

    font-size: 1.5rem;
    text-decoration: none;

    grid-column: 13/14;
    grid-row: 1/1;
}
.carito_btn a {
    color: #2e282a;
    text-decoration: none;

}
.carito_btn a:hover {
    color: #fca311;
    text-decoration: none;
}


.perfil_btn {
    display: grid;
    align-items: center;
    justify-items: center;

    font-size: 1.5rem;
    text-decoration: none;

    grid-column: 12/13;
    grid-row: 1/1;
}
.perfil_btn a {
    color: #2e282a;
    text-decoration: none;
}
.perfil_btn a:hover {
    color: #fca311;
    text-decoration: none;  
}

.bottom_nav {
    background-color: #ef3e36;
}

