#cajaOfertas{
    margin: 10px;
}
#scrolly{
    background: #fff;
    padding: 8px 8px 8px 8px;
    margin: 12px 0px 5px 0px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
    border: 1px solid #dadce0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

img{
    width: 300px;
    height: 150px;
    margin: 20px 10px;
    display: inline;
}
.button-container {
    display: flex;

}
#slideRight{
    border: none;
    background-color: orange;
    padding: 12px 48px 12px 24px;
    border-radius: 4px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    margin-right: 10%;
    margin-left: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#slideLeft{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    border: none;
    background-color: orange;
    padding: 12px 48px 12px 24px;
    border-radius: 2px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    margin-right: 1%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#cajaOfertas{
    border-style: solid;
}
