@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #FFFFFA;
}

li, a, button {
    font-family: "Zillo Slab", serif;
    font-weight: 300;
    color: #FFFFFA;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E282A;}

.logo {
    color: #2e282a;
    cursor: pointer;
    font-size: 2rem;
}

.top_nav {
    background-color: ;
    list-style: none;
}
.top_nav li {
    display: inline-block;
    padding: 0px 20px;
}
.top_nav li a {
    transition: all 0.3s ease 0s;
}
.top_nav li a:hover{
    color: rgb(255, 208, 0);
}

.login_button {
    padding: 9px 25px;
    background-color: rgba();
}

.topnav {
    overflow: hidden;
    background-color: #808080;
  }
.topnav .search-container {
    float: center;
  }


  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 0.75rem;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  button {
    margin: 0.2rem;
    padding: 0.3rem 1rem;
    background-color: rgba(23, 190, 187,1);
    color: #FFFFFA;
    border: none;
    border-radius: 0.45rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: rgba(23, 190, 187,0.8);

  }
  .indice0 {
    background-color: #FFFFFA;
    list-style: none;
    padding-bottom: 0.20rem;
}